@charset "ISO-8859-1";
body {
   /* background-color: #193c6d;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#003073', endColorstr='#029797');
    background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #003073), color-stop(100%, #029797));
    background-image: -webkit-linear-gradient(135deg, #003073, #029797);
    background-image: -moz-linear-gradient(45deg, #003073, #029797);
    background-image: -ms-linear-gradient(45deg, #003073 0, #029797 100%);
    background-image: -o-linear-gradient(45deg, #003073, #029797);
    background-image: linear-gradient(135deg, #003073, #029797);*/
     background-image: url("https://img.wallpapersafari.com/desktop/1920/1080/34/69/woZQ4d.jpg");
     
    margin: 0px;
    overflow: auto;
}
header {
  background-image: url("https://img3.goodfon.com/wallpaper/nbig/e/c3/zapchasti-dvigatel-kolenval.jpg");
  padding: 1em 0;
  text-align: center;
 background-size: cover;
 background-position: center;
  border-bottom: 4px solid  #a2b9bc;
  display: line !important;
}
h1 {
  margin: 0;
  text-align: center;
  color:#1921ab;
}

.logo{
	text-align: center;
	margin: 20px;
}
ul{
	 list-style-type: none;

}
.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;


}
.nav li {
  
}
.nav a {
  color: #fff;
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #666;
  border-radius: 2px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #000;
}

.nav .current {
  background-color: red;
}

.myButton {
	box-shadow: 0px 0px 0px 5px #1bc2ac;
	background-color:transparent;
	border-radius:2px;
	border:1px solid white;
	display: inline-block ;
	cursor:pointer;
	color:#e6f0ff;
	font-family:Times New Roman;
	font-size:25px;
	font-weight:bold;
	padding:5px 5px;
	text-decoration:none;
	text-shadow:3px 3px 3px #708090;
    margin: 10px 15px;
	
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	background-image: url("https://as1.ftcdn.net/v2/jpg/02/19/80/08/1000_F_219800810_z4Bo8DQEnknZUR8xuk3PBlpUlnaKJxd9.jpg");
	top:1px;
	color: 	#000080;
	box-shadow: 0px 0px 0px 8px #b2ad7f;
}
.activeButton{
	box-shadow: 0px 0px 0px 8px #a2b9bc;
	background-image: url("https://as1.ftcdn.net/v2/jpg/02/19/80/08/1000_F_219800810_z4Bo8DQEnknZUR8xuk3PBlpUlnaKJxd9.jpg");
	border-radius:2px;
	border:1px solid white;
	display: inline-block ;
	cursor:pointer;
	color:#00008b;
	font-family:Times New Roman;
	font-size:25px;
	font-weight:bold;
	padding:12px 15px;
	text-decoration:none;
	text-shadow:3px 3px 3px #708090;
    margin: 10px 15px;

}
  
  .title1{
  color: white;
  }    
.form-select {
    background-color: transparent !important;
    width: 60% !important;
   color:white !important;
}
.form-control {
	  background-color: transparent !important;
    display: block;
    width: 60% !important;
}
select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
p {
    margin-top: 1 !important;
    margin-bottom: 0 !important;
    color: black;
}
.pagination li a {
 
    width: 75px !important;
}